.venv
.vscode
.idea
.env
.env.docker
.deeppavlov_env

*.pyc
*.txt
*.db
*.session
*.session-journal
*.dill
*.pickle
*.binary
*.json
*.log
*.parquet
*.xlsx

__pycache__/
.ipynb_checkpoints/
*-checkpoint.ipynb

meta/
data/
assets/
corpus/
training/
